@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    --orange: #ba5536;
    --black: #1f1e1d;
    --colorFont: #ffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--colorFont);
    scrollbar-width: thin;
    scrollbar-color: var(--orange) var(--black);
}

body {
    background-color: var(--black);
    background-image: url(/images/dev.png);
    background-repeat: no-repeat;
    background-size: 50vh;
    background-position: 92.5% 0%;
    background-attachment: fixed;
}

body::-webkit-scrollbar {
    width: 3px;
}

body::-webkit-scrollbar-track {
    background: var(--black);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--orange);
    border-radius: 20px;
}

/* homepage styling */

.container {
    min-height: 100vh;
    background-color: #1f1e1dc4;
    opacity: 0;
}

header {
    position: fixed;
    width: 100%;
    height: 14vh;
    display: flex;
    align-items: center;
    padding-left: 6%;
    padding-right: 6%;
    z-index: 4;
    overflow: hidden;
}

.logo {
    background-color: var(--black);
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.logo a {
    font-family: 'Reggae One', cursive;
    text-decoration: none;
    font-size: 40px;
}

.menu-btn {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    float: right;
    right: 6%;
    z-index: 10;
}

.menu-btn-burguer {
    width: 40px;
    height: 6px;
    background: #ffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ff652f33;
}

.menu-btn-burguer::before, 
.menu-btn-burguer::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 6px;
    border-radius: 5px;
    background: #ffff;
    box-shadow: 0 2px 5px #ff652f33;
    transition: all .4s ease-in-out;
    left: 0;
}

.menu-btn-burguer::before {
    transform: translateY(-14px);
}

.menu-btn-burguer::after {
    transform: translateY(14px);
}

.menu-btn.open .menu-btn-burguer {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn-burguer::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn-burguer::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

.menu {
    flex: 1;
    text-align: right;
}

.menu li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

.menu li:last-child {
    margin: 0;
}

.menu a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    transition: all .4s;
    position: relative;
}

.menu a:hover {
    color: var(--orange);
}

.menu .active {
    color: var(--orange);
}

.active::after {
    content: '';
    width: 76px;
    height: 2px;
    background: var(--orange);
    position: absolute;
    bottom: -5px;
    left: 0;
}

main {
    display: flex;
    flex-direction: column;
}

section {
    display: block;
}

.cnt {
    width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

.home {
	height: 100vh;
	display: flex;
	text-align: left;
	flex-direction: column;
	padding-top: 130px;
}

.salute h1 {
    font-family: 'Reggae One', cursive;
    font-size: 38px;
    color: var(--orange);
    margin-bottom: 10px;
}

.main-text {
    font-family: 'Roboto', 'Montserrat' ,sans-serif;
}

.main-text h1 {
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 10px;
}

.main-text h4 {
    color: #aaaaaa;
}

.resume {
    max-width: 100px;
    margin-top: 40px;
}

.resume a {
    color: var(--orange);
    font-family: 'Reggae One', cursive;
    font-size: 28px;
}

/* about section styling */

.about {
    height: 100vh;
    display: flex;
    text-align: left;
	flex-direction: column;
	padding-top: 100px;
}

.title h1 {
    font-family: 'Reggae One', cursive;
    color: var(--orange);
    font-size: 38px;
    margin-bottom: 12px;
}

.description {
    width: 80%;
}

.description p {
    font-size: 20px;
    margin-bottom: 8px;
}

/* projects section styling */

.projects {
    height: 100vh;
}

/* footer section styling */

footer {
    height: 40vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    border-top: solid 1px rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
}

.links {
    margin-right: 8px;
}

.links li {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;
}

.links a img {
    width: 30px;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content h1 {
    color: var(--orange);
    margin-bottom: 10px;
    font-size: 28px;
}
.content h4 {
    font-size: 18px;
}

.go-up {
    display: none;
    position: fixed;
    bottom: 5%;
    right: 6%;
}

.go-up img {
    width: 40px;
}