@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

header {
    position: relative;
    width: 100%;
    height: 15vh;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    background-color: #020201;
}

header .logo a {
    color: white;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 44px;
    text-decoration: none;
}

.menu {
    flex: 1;
    text-align: right;
}

.menu li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

.menu a {
    color: white;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 18px;
}